@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(55 65 81);
    overflow: hidden;
}

#app {
    display: flex;
    width: 98vw;
    height: 98vh;
    margin: auto;
    padding: 2rem;
}

section {
    overflow-y: auto;
}