@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    @apply transition-colors duration-500;
}

body {
    height: 100vh;
    background-color: #00151f;
    padding: 1rem;
    margin: 0;
    position: relative;
    font-family: "Inter", sans-serif;
}
